<app-nav-bar (usrActivoOutput)="recievePatient($event)"></app-nav-bar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header">
                    <H5>SOLICITAR TURNO</H5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div *ngIf="!specialitySelected()">
                        <app-speciality-list (specialityOutput)="recieveSpeciality($event)" [showAddInput]="false">
                        </app-speciality-list>
                    </div>
                    <div *ngIf="specialitySelected()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="especialitySelected">Especialidad</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="speciality.name"
                                placeholder="Especialidad" aria-label="Especialidad"
                                aria-describedby="especialitySelected" readonly>
                        </div>
                        <button type="button" class="button btn-warning"
                            (click)="btnChangeSpeciality()">Cambiar</button>
                    </div>
                    <!-- Profesional -->
                    <div *ngIf="!profesionalSelected() && specialitySelected()">
                        <app-user-list [profileInput]="'Profesional'" [filterTypeInput]="'speciality'"
                            [filterValueInput]="speciality.name" (userOutput)="recieveProfesional($event)"></app-user-list>
                    </div>
                    <div *ngIf="profesionalSelected()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="profesionalSelected">Profesional</span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="profesional.name +', '+ profesional.lastName" placeholder="Profesional"
                                aria-label="Profesional" aria-describedby="profesionalSelected" readonly>
                        </div>
                        <button type="button" class="button btn-warning"
                            (click)="btnChangeProfesional()">Cambiar</button>
                    </div>
                    <div *ngIf="profesionalSelected() && specialitySelected() && !dateSelected()">
                        <app-days-of-attention [profesionalInput]="this.profesional" [specialityInput]="this.speciality"
                            (daySelectedOutput)="recieveDay($event)"></app-days-of-attention>
                    </div>
                    <div *ngIf="dateSelected()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="dateSelected">Fecha</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="dateFormated" placeholder="Fecha"
                                aria-label="Fecha" aria-describedby="dateSelected" readonly>
                        </div>
                        <button type="button" class="button btn-warning" (click)="btnChangeDate()">Cambiar</button>
                    </div>
                    <div *ngIf="profesionalSelected() && specialitySelected() && dateSelected() && !hourSelected()">
                        <app-hours [profesionalInput]="this.profesional" [specialityInput]="this.speciality" [dayInput]="date"
                            (hourSelectedOutput)="recieveHour($event)"></app-hours>
                    </div>
                    <div *ngIf="hourSelected()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="dateSelected">Fecha</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="hour" placeholder="Hora"
                                aria-label="Hora" aria-describedby="hourSelected" readonly>
                        </div>
                        <button type="button" class="button btn-warning" (click)="btnChangeHour()">Cambiar</button>
                    </div>
                    <hr>
                    <div *ngIf="profesionalSelected() && specialitySelected() && dateSelected() && hourSelected()">
                        <button type="button" class="button btn-info" (click)="getAppointment()">Reservar Turno</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card">
    <div *ngIf="menu==1">
        <app-appointment></app-appointment>
    </div>
</div> -->