<div class="card">
    <div class="card text-center">
        <div class="card-header">
            <h5>Turnos</h5>
        </div>
        <div class="card-body">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Fecha y Hora</th>
                        <th>Profesional</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ap of appointmentList | fiterAppointment">
                        <td>{{ap.Date + '-' + ap.Hour}}</td>
                        <td>{{ap.profesional.name +', '+ ap.profesional.lastName}}</td>
                        <td>{{ap.patient.name +', '+ ap.patient.lastName}}</td>
                        <td><button type="button" class="button btn-info" name="" id="" (click)="selectAppointment(ap)">Elegir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>