.avatar {
    width:  80px;
    height: 80px;
}
.tblAvatars {
    width: 100px;
    height: 100px;
}
#avatar_female1 {
    background-image: url('../../../assets/images/icons/avatar_female1.png');
    background-size: 100%;
}
#avatar_female2 {
    background-image: url('../../../assets/images/icons/avatar_female2.png');
    background-size: 100%;
}
#avatar_female3 {
    background-image: url('../../../assets/images/icons/avatar_female3.png');
    background-size: 100%;
}
#avatar_female4 {
    background-image: url('../../../assets/images/icons/avatar_female4.png');
    background-size: 100%;
}
#avatar_male1 {
    background-image: url('../../../assets/images/icons/avatar_male1.png');
    background-size: 100%;
}
#avatar_male2 {
    background-image: url('../../../assets/images/icons/avatar_male2.png');
    background-size: 100%;
}
#avatar_male3 {
    background-image: url('../../../assets/images/icons/avatar_male3.png');
    background-size: 100%;
}
#avatar_male4 {
    background-image: url('../../../assets/images/icons/avatar_male4.png');
    background-size: 100%;
}

